*{
  background-color:#282c34;
}
.Arrow_button {
  background-color: transparent;
  border-radius: 1vh;
}

.App {
  text-align: center;
}
.App-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
}

.App-logo {
  background-color: transparent;
  height: 40vmin;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header { 
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}
.App-link {
  color: #61dafb;
}

.Chracter-content{
  background-color: red;
  flex: 1;
  justify-content: center;
}

.Header-text {
  color:white;
  font-size: 100px;
  justify-content: center;
  vertical-align: bottom;
}

.Host_button{
  border-color: transparent;
  background-color: white;
  font-size: large;
  border-radius: 25vh;
  color: black;
  height: 5vh;
  width: 15vw;
  margin: 1vh;
}

.Play_button{
  border-color: transparent;
  font-size: large;
  background-color: white;
  border-radius: 25vh;
  color: black;
  height: 5vh;
  width: 15vw;
  margin: 1vh;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
